<% @publications.each do |publication| %>
  <h2><%= publication.title %></h2>
  <p><%= publication.publication_description %></p>
  <p><%= publication.date %></p>
  <p><%= publication.link %></p>
  <p><%= link_to 'Edit this publication', edit_publication_path(publication) if user_signed_in? %></p>
<% end %>

<p><%= link_to 'Create a publication', new_publication_path if user_signed_in? %></p>
