<div class = "grid_10 push_1">
<h1>Edit this fucking book</h1>

<%= form_for @book do |form| %>
	<%= render form %>
<% end %>

<%= link_to 'Show', @book %>
<%= link_to 'Back', book_path %>
<%= link_to 'Delete this Book', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>