<% @books.each do |book| %>
  <h2><%= book.title %></h2>
  <p><%= book.stubtitle %></p>
  <p><%= book.description %></p>
  <p><%= book.link %></p>
  <p><%= link_to 'Edit this book', edit_book_path(book) if user_signed_in? %></p>
<% end %>

<p><%= link_to 'Create a book', new_book_path if user_signed_in? %></p>
