<h1><%= @homes.last.home_text %></h1>
<p>Created by: <%= @homes.last.user.email %></p>
<p><%= link_to 'Edit this page', @homes.last %></p>
<p><%= link_to 'See all pages', showall_homes_path %>

<p><%= link_to 'Create a home page', new_home_path if user_signed_in? %></p>
